<a href="https://colab.research.google.com/github/normins/MET-Data-Science/blob/main/Clase_1_Analisis_Exploratorio_NNS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **MeTCaMPDatos**


**Edición 2021**

<img src="https://i.imgur.com/HnKHks1.png" height="150" />

## Aventurándonos en el mundo de los **datos**
La idea de este notebook es poder introducir algunos conceptos básicos de estadistica descriptiva y sus aplicaciones en Python. Intentaremos familiarizarnos con algunos 
conceptos (librerias, paquetes y funciones) que nos facilitaran el camino hacia la manipulacion y procesamiento de los datos. 

## Objetivos
- Introducir funciones necesarias para una exploracion inicial del dataset
- Brindar nociones basicas de diferentes medidas de estadistica descriptiva aplicadas 
- Pensar preguntas o problemas y variables de interés 
- Descubrir un primer insight que aporte valor al analisis


## Herramientas de trabajo 
En esta oportunidad vamos a utilizar el lenguaje de programación Python junto con Google Colab para realizar nuestro primer analisis de la encuesta de sueldos. Recorda que Colab es un servicio cloud basado en los Notebooks de Jupyter, por lo tanto no es necesario descargar nada. A su vez, nos iniciaremos en un primer uso de herramientas de software libre, es decir no necesitas una licencia para porder utilizarlas. 

<center>
<img src="https://i.imgur.com/Cq52LcH.png" height="150" />
</center>

## Pero primero: ¡Hola mundo!
Si es tu primer experiencia con Python, usá la celda de acá abajo para probar tu primer línea de código. Para imprimirlo en pantalla escribimos print("Hola mundo!")

In [ ]:
print("Hola mundo")

Hola mundo

Un ejemplo de lo que podés hacer con Python. Probá cambiando los números y apretando play.

In [ ]:
a = 3
b = 4
print(a+b)

7


## Explorando algunos datos
Vamos a trabajar con un set de datos obtenido de **SysArmy** que se denomina **"Encuesta de Sueldos"** y se puede consultar en: [este sitio](https://sysarmy.com/blog/posts/resultados-de-la-encuesta-de-sueldos-2021-1/).

<center>
<img src="https://i.imgur.com/ivxTHhG.png" height="150" />
</center>

Sysarmy es una organización internacional perteneciente a la comunidad de sistemas que nuclea a profesionales del área para favorecer el contacto y el intercambio de conocimiento de manera informal. Anualmente desarrollan una encuesta de sueldos con el objetivo de obtener información sobre la situación laboral actual en tecnología, evaluan el máximo nivel educativo alcanzado de los encuestados y brindan información sobre diferentes empresas.

## Que es el EDA? 

En sus siglas en inglés hace referencia al **Análisis Exploratorio de Datos**. Este es el primer paso que debemos realizar como Data Scientists y consta de una primera revisión del estado de los datos y los consecuentes pasos necesarios para una correcta transformación.

La ciencia de datos es una disciplina que te permite convertir datos crudos en entendimiento, comprensión y conocimiento.

<center>
<img src="https://i.imgur.com/jclXnDS.png" height="150" />
</center>


En este sentdo, el primer objetivo radica en preguntarnos **¿De que se trata este dataset?**

## Importación de librerías

In [2]:
import numpy as np #importo numpy
import pandas as pd #importo pandas

## Lectura del dataset

In [4]:
url = 'https://raw.githubusercontent.com/MeT2021/MeTCamp-Data-Science/main/sysarmy_2020.csv'
df = pd.read_csv(url,error_bad_lines=False)

Vamos a utilizar `head()` para ver las primeras filas del dataset y `tail()` para ver las últimas.

In [5]:
df.head(5)

  Me identifico  ...  ¿Cuáles considerás que son las mejores empresas de IT para trabajar en este momento, en tu ciudad?
0         Mujer  ...                                                NaN
1        Hombre  ...                                                NaN
2         Mujer  ...                                                NaN
3        Hombre  ...                                                NaN
4        Hombre  ...                                                NaN

[5 rows x 48 columns]

In [ ]:
df.tail(5)

     Me identifico  ...  ¿Cuáles considerás que son las mejores empresas de IT para trabajar en este momento, en tu ciudad?
6090        Hombre  ...                                                NaN
6091        Hombre  ...                                                NaN
6092        Hombre  ...                                      Mercado Libre
6093        Hombre  ...                                        Solo Nubity
6094        Hombre  ...                                                NaN

[5 rows x 48 columns]

Tenemos ahora un objeto (que es una tabla, algo parecido a una hoja de Excel) que se llama `df`.

---
1. ¿Qué tipos de datos parece tener esta tabla?
2. ¿Cuáles son las variables? ¿Cuáles las unidades de análisis?
---

In [ ]:
## Resolve aca

Con `shape`podemos conocer las dimensiones del dataset y con `columns`observamos las columnas

In [ ]:
print('Cantidad de Filas y columnas:', df.shape)

Cantidad de Filas y columnas: (6095, 48)

In [ ]:
print('Nombre columnas:', df.columns)

Nombre columnas: Index(['Me identifico', 'Tengo', 'Estoy trabajando en',
       'Dónde estás trabajando', 'Años de experiencia',
       'Años en la empresa actual', 'Años en el puesto actual',
       '¿Gente a cargo?', 'Nivel de estudios alcanzado', 'Estado', 'Carrera',
       'Universidad', 'Realizaste cursos de especialización',
       '¿Contribuís a proyectos open source?', '¿Programás como hobbie?',
       'Trabajo de', 'Plataformas', 'Lenguajes de programación',
       'Frameworks, herramientas y librerías', 'Bases de datos',
       'QA / Testing', 'IDEs', '¿Qué SO usás en tu laptop/PC para trabajar?',
       '¿Y en tu celular?', '¿Tenés guardias?', 'Cuánto cobrás por guardia',
       '¿Porcentaje, bruto o neto?', 'Tipo de contrato',
       'Salario mensual BRUTO (en tu moneda local)',
       'Salario mensual NETO (en tu moneda local)', 'Unnamed: 30',
       '¿Qué tan conforme estás con tu sueldo?',
       'Cómo creés que está tu sueldo con respecto al último semestre',
       'Recibís algún tipo de bono', 'A qué está atado el bono',
       '¿Tuviste ajustes por inflación en lo que va de 2020?',
       '¿De qué % fue el ajuste total?', '¿En qué mes fue el último ajuste?',
       '¿Sufriste o presenciaste situaciones de violencia laboral?',
       'Orientación sexual', '¿Tenés algún tipo de discapacidad?',
       '¿Sentís que esto te dificultó el conseguir trabajo?',
       'Cantidad de empleados', 'Actividad principal',
       '¿La recomendás como un buen lugar para trabajar?',
       '¿Cómo calificás las políticas de diversidad e inclusión?',
       'Beneficios extra',
       '¿Cuáles considerás que son las mejores empresas de IT para trabajar en este momento, en tu ciudad?'],
      dtype='object')

## Renombrar columnas

Para trabajar más cómodamente, renombraremos las columnas del DataFrame. Tengan cuidado de que el orden de los nombres nuevos se corresponda con el contenido de cada columna. Los nombres de las columnas tienen que ser autoexplicativos y transparentes para cualquier persona que lo lea.

In [ ]:
df.columns

Index(['Me identifico', 'Tengo', 'Estoy trabajando en',
       'Dónde estás trabajando', 'Años de experiencia',
       'Años en la empresa actual', 'Años en el puesto actual',
       '¿Gente a cargo?', 'Nivel de estudios alcanzado', 'Estado', 'Carrera',
       'Universidad', 'Realizaste cursos de especialización',
       '¿Contribuís a proyectos open source?', '¿Programás como hobbie?',
       'Trabajo de', 'Plataformas', 'Lenguajes de programación',
       'Frameworks, herramientas y librerías', 'Bases de datos',
       'QA / Testing', 'IDEs', '¿Qué SO usás en tu laptop/PC para trabajar?',
       '¿Y en tu celular?', '¿Tenés guardias?', 'Cuánto cobrás por guardia',
       '¿Porcentaje, bruto o neto?', 'Tipo de contrato',
       'Salario mensual BRUTO (en tu moneda local)',
       'Salario mensual NETO (en tu moneda local)', 'Unnamed: 30',
       '¿Qué tan conforme estás con tu sueldo?',
       'Cómo creés que está tu sueldo con respecto al último semestre',
       'Recibís algún tipo de bono', 'A qué está atado el bono',
       '¿Tuviste ajustes por inflación en lo que va de 2020?',
       '¿De qué % fue el ajuste total?', '¿En qué mes fue el último ajuste?',
       '¿Sufriste o presenciaste situaciones de violencia laboral?',
       'Orientación sexual', '¿Tenés algún tipo de discapacidad?',
       '¿Sentís que esto te dificultó el conseguir trabajo?',
       'Cantidad de empleados', 'Actividad principal',
       '¿La recomendás como un buen lugar para trabajar?',
       '¿Cómo calificás las políticas de diversidad e inclusión?',
       'Beneficios extra',
       '¿Cuáles considerás que son las mejores empresas de IT para trabajar en este momento, en tu ciudad?'],
      dtype='object')

In [ ]:
nuevas_columnas = {
  'perfil': {
      'Me identifico': 'genero',
      'Tengo': 'edad',
      'Años de experiencia':
      'anos_experiencia',
      'Nivel de estudios alcanzado': 'nivel_estudios',
      'Estado': 'estado_estudios',
      'Carrera': 'carrera',
      'Universidad': 'universidad',
      'Realizaste cursos de especialización': 'cursos_especializacion',
      '¿Contribuís a proyectos open source?': 'contribuciones_open_source',
      '¿Programás como hobbie?': 'programa_como_hobbie',
      'Orientación sexual': 'orientacion_sexual',
      '¿Tenés algún tipo de discapacidad?': 'discapacidad',
      '¿Sentís que esto te dificultó el conseguir trabajo?': 'dificultad_ser_contratada_discapacidad',
      '¿A qué eventos de tecnología asististe en el último año?': 'eventos_tecnologia_ultimo_anio'
  },
  'trabajo' : {
      'Estoy trabajando en': 'pais',
      'Dónde estás trabajando': 'provincia',
      'Años en la empresa actual': 'anios_empresa_actual',
      'Años en el puesto actual': 'anios_puesto_actual',
      '¿Gente a cargo?': 'personas_a_cargo',
      'Trabajo de': 'rol',
      '¿Tenés guardias?': 'guardias ',
      '¿Porcentaje, bruto o neto?': 'guardias_tipo_pago ',
      'Tipo de contrato': 'tipo_contrato',
      '¿Sufriste o presenciaste situaciones de violencia laboral?': 'violencia_laboral',
  },
  'herramientas': {
      'Plataformas': 'plataforma', 
      'Lenguajes de programación': 'languagjs_programacion',
      'Frameworks, herramientas y librerías': 'frameworks', 
      'Bases de datos': 'data_bases',
      'QA / Testing': 'qa_testing',
      'IDEs': 'IDEs',
      '¿Qué SO usás en tu laptop/PC para trabajar?': 'sistema_operativo_pc',
      '¿Y en tu celular?': 'sistema_operativo_cel'
  },
  'salario': {
      'Cuánto cobrás por guardia': 'guardias_pago',
      'Salario mensual BRUTO (en tu moneda local)': 'mensual_BRUTO',
      'Salario mensual NETO (en tu moneda local)': 'mensual_NETO',
      'Unnamed: 30': 'salario_dolares',
      '¿Qué tan conforme estás con tu sueldo?': 'conformidad_sueldo',
      'Cómo creés que está tu sueldo con respecto al último semestre': 'comparacion_sueldo_semestre_anterior ',
      'Recibís algún tipo de bono': 'bonos',
      'A qué está atado el bono': 'bono_atado_a ',
      '¿Tuviste ajustes por inflación en lo que va de 2020?': 'ajustes_inflacion_2020 ',
      '¿De qué % fue el ajuste total?': 'porcentaje_inflacion_ajuste_2020',
      '¿En qué mes fue el último ajuste?': 'mes_ultimo_ajuste_inflacion ',
  },
  'compania' : {
      'Cantidad de empleados': 'cantidad_empleadxs',
      'Actividad principal': 'actividad_princiapl',
      '¿La recomendás como un buen lugar para trabajar?': 'recomendacion_lugar_trabajo',
      '¿Cómo calificás las políticas de diversidad e inclusión?': 'politicas_inclusion',
      '¿A cuántos kilómetros de tu casa queda la oficina?': 'distancia_oficina_km',
      'Beneficios extra': 'beneficios_extra',
      '¿Cuáles considerás que son las mejores empresas de IT para trabajar en este momento, en tu ciudad?': 'mejor_compania_ciudad',
  }
}

In [ ]:
def replace_columns(df, nuevas_columnas):
  nuevo_nombre_columnas = {
    nombre_original: category + '_' + nuevo_nombre # Para agregar en el nombre el prefijo de la categoría, por ejemplo 'perfil', 'trabajo'.
    for category, cols in nuevas_columnas.items()
    for nombre_original, nuevo_nombre in cols.items()
  }
  return df.rename(columns=nuevo_nombre_columnas)

In [ ]:
df_renamed = replace_columns(df, nuevas_columnas)
df_renamed.head()

  perfil_genero  ...  compania_mejor_compania_ciudad
0         Mujer  ...                             NaN
1        Hombre  ...                             NaN
2         Mujer  ...                             NaN
3        Hombre  ...                             NaN
4        Hombre  ...                             NaN

[5 rows x 48 columns]

Podemos ver más en detalle las **características del dataset** de la siguente forma:

In [ ]:
df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6095 entries, 0 to 6094
Data columns (total 48 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   perfil_genero                                  6095 non-null   object
 1   perfil_edad                                    6095 non-null   int64
 2   trabajo_pais                                   6095 non-null   object
 3   trabajo_provincia                              6095 non-null   object
 4   perfil_anos_experiencia                        6095 non-null   float64
 5   trabajo_anios_empresa_actual                   6095 non-null   float64
 6   trabajo_anios_puesto_actual                    6095 non-null   float64
 7   trabajo_personas_a_cargo                       6095 non-null   int64
 8   perfil_nivel_estudios                          6095 non-null   object
 9   perfil_estado_estudios                         6095 non-null   object
 10  perfil_carrera                                 5796 non-null   object
 11  perfil_universidad                             5561 non-null   object
 12  perfil_cursos_especializacion                  6095 non-null   object
 13  perfil_contribuciones_open_source              6095 non-null   object
 14  perfil_programa_como_hobbie                    6095 non-null   object
 15  trabajo_rol                                    6095 non-null   object
 16  herramientas_plataforma                        6093 non-null   object
 17  herramientas_languagjs_programacion            6094 non-null   object
 18  herramientas_frameworks                        6094 non-null   object
 19  herramientas_data_bases                        6093 non-null   object
 20  herramientas_qa_testing                        6089 non-null   object
 21  herramientas_IDEs                              6094 non-null   object
 22  herramientas_sistema_operativo_pc              6095 non-null   object
 23  herramientas_sistema_operativo_cel             6095 non-null   object
 24  trabajo_guardias                               6095 non-null   object
 25  salario_guardias_pago                          6095 non-null   float64
 26  trabajo_guardias_tipo_pago                     6095 non-null   object
 27  trabajo_tipo_contrato                          6095 non-null   object
 28  salario_mensual_BRUTO                          6095 non-null   float64
 29  salario_mensual_NETO                           5883 non-null   float64
 30  salario_salario_dolares                        676 non-null    object
 31  salario_conformidad_sueldo                     6095 non-null   int64
 32  salario_comparacion_sueldo_semestre_anterior   6095 non-null   int64
 33  salario_bonos                                  6095 non-null   object
 34  salario_bono_atado_a                           6095 non-null   object
 35  salario_ajustes_inflacion_2020                 6095 non-null   object
 36  salario_porcentaje_inflacion_ajuste_2020       6095 non-null   float64
 37  salario_mes_ultimo_ajuste_inflacion            6095 non-null   int64
 38  trabajo_violencia_laboral                      5954 non-null   object
 39  perfil_orientacion_sexual                      5912 non-null   object
 40  perfil_discapacidad                            600 non-null    object
 41  perfil_dificultad_ser_contratada_discapacidad  2207 non-null   object
 42  compania_cantidad_empleadxs                    6095 non-null   object
 43  compania_actividad_princiapl                   6095 non-null   object
 44  compania_recomendacion_lugar_trabajo           6095 non-null   int64
 45  compania_politicas_inclusion                   6095 non-null   int64
 46  compania_beneficios_extra                      6094 non-null   object
 47  compania_mejor_compania_ciudad                 1692 non-null   object
dtypes: float64(7), int64(7), object(34)
memory usage: 2.2+ MB

¿Cuántos **varones**, **mujeres** y **otros** respondieron la encuesta? Lo vemos usando `value_counts()` 

¿De que tipo de variable se trata?

In [ ]:
df_renamed['perfil_genero'].value_counts()

Hombre    5122
Mujer      942
Otros       31
Name: perfil_genero, dtype: int64

In [ ]:
# Resolvé aca

¿Te animás a calcular cuántas personas encuestadas tienen **estudios completos**, en **curso** o **incompletos**?

¿Te parece que el tipo de variable es diferente a la anterior?

In [ ]:
df_renamed['perfil_nivel_estudios'].value_counts()

Universitario    4133
Terciario        1135
Secundario        449
Posgrado          342
Doctorado          30
Posdoctorado        4
Primario            2
Name: perfil_nivel_estudios, dtype: int64

Ahora vamos a sacar algunos estadísticos de los campos numéricos del dataset. ¿Qué podemos empezar a observar sobre el **Sueldo Bruto**?

In [ ]:
df_renamed.describe() #Utilizamos describe para calcular los estadísticos

        perfil_edad  ...  compania_politicas_inclusion
count   6095.000000  ...                   6095.000000
mean      41.181952  ...                      7.621001
std      665.721175  ...                      2.324034
min       18.000000  ...                      1.000000
25%       27.000000  ...                      6.000000
50%       31.000000  ...                      8.000000
75%       37.000000  ...                     10.000000
max    52000.000000  ...                     10.000000

[8 rows x 14 columns]

In [ ]:
df_renamed['salario_mensual_BRUTO'].mean()

124058.54962132902

In [ ]:
df_renamed['salario_mensual_BRUTO'].median()

96000.0

## Análisis de salarios
Una de las variables más interesantes del dataset es el **Salario Mensual Neto** de las personas encuestadas. A su vez, contamos con la variable Género que podría aportarnos información sobre la existencia de brechas de ingresos entre mujeres, varones y diversidades.

Planteamos una primer hipótesis: a mayor nivel de estudio, mejor sueldo tienen las personas encuestadas. 
Para calcularlo, vamos a quedarnos solamente con las columnas que nos interesan: género, nivel de estudios y salario bruto.

In [ ]:
df_3 = df_renamed[["perfil_genero", "perfil_nivel_estudios", "salario_mensual_BRUTO"]] #Seleccionamos las columnas que vamos a utilizar

In [ ]:
print(df_3) #Imprimimos nuestro nuevo dataset

     perfil_genero perfil_nivel_estudios  salario_mensual_BRUTO
0            Mujer         Universitario                53000.0
1           Hombre         Universitario                79000.0
2            Mujer            Secundario               160000.0
3           Hombre              Posgrado               130000.0
4           Hombre         Universitario               140000.0
...            ...                   ...                    ...
6090        Hombre             Terciario                99000.0
6091        Hombre         Universitario                85000.0
6092        Hombre             Terciario                47250.0
6093        Hombre             Terciario                86000.0
6094        Hombre             Terciario                85000.0

[6095 rows x 3 columns]

Vamos a calcular el sueldo promedio según el nivel de estudio. Para eso, vamos a agrupar por categorías:

In [ ]:
df_3.groupby(by="perfil_nivel_estudios").mean()

                       salario_mensual_BRUTO
perfil_nivel_estudios
Doctorado                      141973.703000
Posdoctorado                   637035.750000
Posgrado                       167045.428246
Primario                       109000.000000
Secundario                     103639.224196
Terciario                      102537.506139
Universitario                  128010.618984

¿Qué pasó con nuestra hipótesis? ¿Podemos confirmarla o refutarla? ¿Qué otros datos agregarían para profundizar en este análisis?

In [ ]:
df_3 = df_renamed[["perfil_genero", "perfil_nivel_estudios", "salario_mensual_BRUTO"]] 
df_3.groupby(by="perfil_genero").mean()

               salario_mensual_BRUTO
perfil_genero
Hombre                 129811.047365
Mujer                   92691.962141
Otros                  126737.000000

##Ejercicio 1
Ahora vamos a plantear una segunda hipótesis: los varones ganan más en promedio que las mujeres y diversidades. ¿Lo calculamos?

In [ ]:
#

¿Qué pasó con la segunda hipótesis?

In [ ]:
# Responder acá

##Ejercicio 2: ¿Te animás a más?
Si te quedaste con ganas de profundizar el análisis, te dejamos este espacio para que lo hagas. ¿Qué otras variables tendrías en cuenta para mejorar el análisis? ¿Además del promedio, qué otro estadístico podría ayudarnos a comprender mejor esta diferencia salarial?

In [ ]:
# Responder acá